<nav class="flex items-center justify-between flex-wrap bg-gray-100 py-2", style="margin-bottom: 40px">
    <%= link_to root_path, class: 'flex items-center flex-shrink-0 text-black mr-6' do %>
      <%= image_tag 'logo.png', class: 'h-32 w-32' %>
    <% end %>
    <button class="flex items-center px-3 py-2 border rounded text-gray-700 border-gray-400 hover:text-white hover:border-white lg:hidden" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="navbarSupportedContent">
      <ul class="flex flex-col lg:flex-row lg:ml-auto">
        <li class="relative group">
          <%= link_to '#', class: 'relative px-6 py-2 font-bold text-black group', id: 'header-board-menu' do %>
            <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
            <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
            <span class="relative">掲示板</span>
          <% end %>
          <div class="absolute right-0 hidden mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg group-hover:block">
            <%= link_to '掲示板一覧', '#', class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100' %>
            <%= link_to '掲示板作成', '#', class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100' %>
          </div>
        </li>
        <li class="relative group">
          <%= link_to '#', class: 'relative px-6 py-2 font-bold text-black group' do %>
            <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
            <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
            <span class="relative">ブックマーク一覧</span>
          <% end %>
        </li>
        <li class="relative group">
          <%= link_to '#', class: 'relative px-6 py-2 font-bold text-black group flex flex-col items-center', id: 'header-profile' do %>
            <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
            <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
            <span class="relative flex-col items-center"> 
              <%= image_tag 'sample.png', class: 'rounded-full w-10 h-10', width: '40', height: '40' %>
            </span>
          <% end %>
          <div class="absolute right-0 hidden mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg group-hover:block">
            <%= link_to 'プロフィール', '#', class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100' %>
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100', data: { turbo_method: :delete } %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
